.App-header {
  text-align: center;
  background-color: #a1887f;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.balanceErrorMessage {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}